h1{
  text-align: center;
}
h2{
  color: red;
}
body{
  background: url(https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  color: orange;
  background-repeat: no-repeat;
  background-size: cover;
}
